.App {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

* {
  box-sizing: border-box;
}

.productos {
  width: 75%;
  height: 100%;
  float: left;
  padding-left: 100px;
}

.carrito {
  width: 25%;
  height: 100%;
  float: left;
}